<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerênciador de tarefas</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="task-manager-panel">
        <h1 class="panel-title">Minhas Tarefaz</h1>
        <form @submit.prevent="addTask" class="input-area">
          <input
            type="text"
            v-model="newTaskText"
            placeholder="O que precisa ser feito"
            class="task-input"
            aria-label="Nova Tarefa"
          />
          <button type="submit" class="btn btn-add">Adicionar</button>
        </form>
        <ul class="task-list">
          <li v-for="task in tasks" :key="task.id" class="task-item">
            <span class="task-text">{{ task.text }}</span>
            <button @click="removeTask(task.id)" aria-label="Remover Tarefa">
              &#10005;
            </button>
          </li>
        </ul>
        <p class="project-title">M1P1N1/N2: Gerenciador de Tarefas Essencial</p>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
