* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-willow-grove);
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
:root {
  --color-kelp: #3d402f;
  --color-willow-grove: #6b7f6b;
  --color-whiskey: #d59a79;
  --color-tamarillo: #9c0d0f;
  --color-text-light: #f4f4f4;
}
.task-manager-panel {
  background-color: var(--color-kelp);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 500px;
  margin-bottom: 20px;
}
